@font-face {
    font-family: 'amandine-regular';
    src: url('./fonts/amandine-regular.otf') format('woff2'),
         url('./fonts/amandine-regular.otf') format('woff'),
         url('./fonts/amandine-regular.otf') format('truetype');
  }

:root {
    --var-color-primary: #121212;
    --var-color-secondary: #151515;
    --var-color-tertiary: #ddf2ff;
    --var-color-quaternary: #ffffff;
    --var-color-quinternary: #89d1ff;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: amandine-regular;
    color: var(--var-color-quaternary);
}
body {
    background-color:var(--var-color-primary);
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:var(--var-color-secondary);
    box-shadow: var(--var-color-quaternary) 0 0px 1px 0 ;
}


nav{
    display: flex;
    justify-content: center;
    text-align: center;
}

nav ul{
    display: none;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: #000000;
}




.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
    margin: 20px;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    height: auto;
    margin: 30px;
}
.col-2 h1{
    font-size: 40px;
    line-height: 60px;
    margin: 25px 0;
    margin-bottom: 2px;
    margin-top: -40px;    
}
.row .col-2 p {
    font-size: 23px; 
    line-height: 28px;  
    margin-top: 32px;
    font-family: Lora-Variable;
}

.row .col-2 .btn {
    margin-top: 70px; /* Adiciona um espaço acima do botão */
    display: inline-block; /* Mantém o botão como bloco inline */
    color: var(--var-color-quaternary);
}

.btn{
    display: inline-block;
    background:transparent ;
    padding:  8px 15px;
    margin: 30px 0;
    border: none;
    border-radius: 10px;
    box-shadow: var(--var-color-quinternary) 0 0 5px 0.2px;
    transition: all 0.5s;
}

.btn:hover{
    background:#3bb6fd;
}


.header{
    background-image: url(PicturesGrafismo/Grafismos/Grafismos\ Sem\ Fundo\ \(1\).png);
}

.header .row{
    margin-top: 70px;

}

.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
/* css carouseldo vitu*/
.container-carousel{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-wrapper {
    max-width: 1100px;
    margin: 0 60px 35px;
    padding: 20px 10px;
    overflow: hidden;
}
.card-list .card-item .card-link {
    user-select: none;
    display: block;
    background-color: var(--var-color-quaternary);
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid transparent;
    box-shadow: 0 0 4px 0.1px gray;
    transition: 0.2s ease;
}
.card-list .card-item .card-link:hover {
    border-color:var(--var-color-quinternary) ;
}
.card-list .card-item .card-image {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 10px;
}
.card-list .card-item .card-tittle {
    font-size: 1.19em;
    color: var(--var-color-secondary);
    font-weight: 600;
    text-align: center;
    margin-top: 5px;
}